body {
	font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell";
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
}

h1 {
	color:blue;
}

header {
	border: 3px solid blue;
	border-radius: 10px;
	width: 95%;
	padding: 0% 2%;
	z-index: 100;
	background-color:#FFFB88;
}


#titre_principal {
	display:inline-block;
}

header h1 {
	font-family: 'BallparkWeiner'm serif;
	font-size: 2.5em;
	font-weight: normal;
}

header h2 {
	font-family: 'Dayrom', serif;
	font-size: 1.1em;
	margin-top: 0px;
	font-weight: normal;
}

#line {

}

#main {
	padding: 2% 15%;
}

#ck {
	display: inline-block;
	vertical-align: top;
	color:red:
}

#ta {
	display: inline-block;
}

#result {
	border: 3px solid blue;
	border-radius: 10px;

}

nav {
	display: inline-block;
	align : right;
	text-align: right;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
	margin-right: 15px;
}

nav a {
	font-size: 1.3em;
	color: #181818;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover {
	color: #760001;
	border-bottom: 3px solid #760001;
}
