body
{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	margin: 0;
	flex-direction: column;
}

#DeleteButton {
	width: 200px; /* Set the desired width */
	height: 80px; /* Set the desired height */
	font-size: 30px;
	background-color: #4CAF50;
}

h1
{
	font-size: 150px;

	color : red;
}

h2
{
	font-size: 80px;
	color:brown;
}

h3
{
	font-size: 40px;
	color:blanchedalmond;
}


p
{
	font-size: 38px;
	/* margin-top: 50px; */
	top : 50%;
	left : 50%;
	color:lightcoral;
}


