body
{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
}

#error
{
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#image
{
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

h1
{
	font-size: 70px;
	/* margin-top: 50px; */

	color : red;
}
h2
{
	font-size: 120px;
	/* margin-top: 50px; */
	color:brown;
}

p
{
	font-size: 38px;
	/* margin-top: 50px; */
	top : 50%;
	left : 50%;
	color:lightcoral;
}


