#helloId{
	position: absolute;
	text-align: center;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

body{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
}

h1{
	font-size: 100px;
	color : red;
}

h2{
	font-size: 75px;
	color:brown;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 20px; /* Adjust the gap as needed */
    align-items: center;
    justify-content: center;
    height: 8vh;
}

#ForbiddenPage, #DeletePage, #autoIndex, #autoIndexOff ,#ChangeRoot, #RedirRequest, #NewIndex{
    font-size: 25px;
    color: chocolate;
}

#ForbiddenPage a, #DeletePage a, #autoIndex a, #autoIndexOff a,#ChangeRoot a, #RedirRequest a, #NewIndex a{
    font-size: 35px;
    color: blanchedalmond;
}

#ForbiddenPage a:hover, #DeletePage a:hover, #autoIndex a:hover, #autoIndexOff a:hover,#ChangeRoot a:hover, #RedirRequest a:hover, #NewIndex a:hover {
    color: red;
}
